body {
    background-image: url("images/GettyImages-1419766496.jpg");
    background-size: cover;
    margin: 0;
    color: white;
}
h1 {
    padding: 5px 10px;
    border-image: linear-gradient(to right, white, transparent) 1 / 1px;

    border-right: none;
    border-radius: 5px 0 0 5px;
}
h2 {
    padding: 5px 10px;
    border-image: linear-gradient(to right, gray, transparent 50%, transparent) 2 / 2px;

    border-right: none;
    border-radius: 5px 0 0 5px;
}
a {
    color: purple;
    font-weight: 600;
}
a:active {
    color: red;
}
p {
    overflow: auto;
}
#header {
    background: #2a5d9255;
    margin: 0 0;
    height: 128px;
    border-image: url("images/techborder.png") 64 / 40px;
    padding: 40px;
    vertical-align: middle;
}
.opt {
    width: 120px;
    height: 110px;
    display: inline-block;
    border: 5px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#5579ab66, #5579ab55), linear-gradient(0.4turn, #003050cc, #0050aa44, #004099dd);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: white !important;
    text-align: center;
    font-size: 9pt;
    font-family: sans-serif;

    transition: transform 0.1s ease-in-out;

    padding: 14px;
    margin: 0px 10px 2px;
    vertical-align: middle;
    user-select: none;
    text-decoration: none;
}
.opt:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.opt:active {
    transform: scale(0.9);
    transition: transform 0.05s ease-in-out;
    cursor: pointer;
}

#body {
    margin: 100px 200px;
    min-height: 600px;
    font-family: sans-serif;
}


/* page specific stuff */
#topologiesContainer {
    vertical-align: top;

    text-align: center;
    min-height: 520px;
    height: auto;
}
#topologiesContainer > div {
    vertical-align: top;
    width: 200px;
    height: 500px;
    display: inline-block;
    background: #0033556d;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    margin: 5px;
}
#navmapEx {
    text-align: center;
    width: 100%;
}
#navmapEx > a > img {
    border: solid 20px transparent;
    background-image: linear-gradient(50deg, #fade0fff, #deadbeef);
    background-clip: border-box;
    border-radius: 150px;
}
#simplifiedhttp {
    border: solid 7px transparent;
    background-image: linear-gradient(50deg, #00ff00, #00ffae);
    background-clip: border-box;
}

/* fake image */
.fakeimg {
    display: inline-flex;

    width: 400px;
    height: 300px;

    border: solid 4px white;
    border-radius: 20px;
    margin: 20px;

    vertical-align: bottom;
    color: white;
    font-family: sans-serif;
    padding: 4px;

    background-position: center;
    background-size: cover;
}
.fakeimg > span {
    padding: 0 5px;
    border-radius: 5px;
    font-size: 13px;
    background: #00000099;
    align-self: flex-end;
    width: 80%;
}

